.logo1 {
	display: inline-block;
	width: 75px;
	height: 50px;
	list-style: none;
}
.menu {
	;
	text-decoration: none;

}
a {
	color: #cccdd1;
	text-decoration: none;
}
nav {
	background-color: #261f3c;
}
li {
	list-style: none;

}
.btn-driver {
	background-color: #ff00bf;
	width: 200px;
	height: 50px;
	font-size: 20px;
	border: none;
	border-radius: .5rem;
	padding: 5px;
	color: white;
}
.sign-ride {
	background-color: transparent;
}
#forms {
	color: #ff00bf;
	font-size: 12px;
}

.h {
	font-size: 2em;
	color: #352384;
}
#sign-drive {
	color: #352384;
}
.placeholder {
	color: #bfc0c5;
}
.text-small {
	font-size: 12px;
}
#already {
	color: #bfc0c5;
	font-size: 12px;
}
#earn {
	color: #bfc0c5;
	font-size: 12px;
}

.watch{
	font-size: 0.85rem;
	color: #333447;

}
h2.vid-description {
	color: #333447;
	font-size: 1.15em;
}

.parrafo-izquierdo {
	color: #333447;
	font-size: 1rem;

}
.parrafo-derecho {
	color: #333447;
	font-size: 1rem;

}

.drive-help {
	font-size: 20px;
}

.drivers {
	font-size: 0.85rem;
}

.partner-help {
	font-size: 20px;
}

.partners {
	font-size: 0.85rem;
}

.learn-help {
	font-size: 20px;
}

.learners {
	font-size: 0.85rem;
}

.drive-help:hover {
	color: #ff00bf;

}
.drivers:hover {
	color: #ff00bf;
}
.partner-help:hover {
	color: #ff00bf;
}
.partners:hover {
	color: #ff00bf;
}

.learn-help:hover {
	color: #ff00bf;
}

.learners:hover {
	color: #ff00bf;
}

#nav-footer{
	background-color: #333447;
}

#morado{
	background-color: #74278e;
	color: white;
}