nav{
  position: fixed;
  margin-top: 0;
  margin-bottom: 2px;
  width: 100%;
  height: 50px;
}
seccion1{
  background-image: url(https://drive.google.com/open?id=0B6QwL6rGulDtU3ZsTmVJMnhteEk);
  width: 100%;
  height: 356.71px;
}
