#navegador{
 position: fixed;
 background-color: transparent;
 margin-top: 0;
 margin-bottom: 2px;
 width: 100%;
 height: 100px;
}
#contenedor{
 background-color: red;
 width: 100%;
 height: 1000px;
 margin-left: 0;
 margin-right: 0;
 position: relative;
}
.seccionInter{
 text-align: center;
 position: absolute;
 width: 359px;
 height: 404px;
}
.imagen1{
 width: 10px;;
 height: 404px;
}
.seccionInter2{
 text-align: center;
 width: 359px;
 height: 404px;
}
.logo{
 width: 50px;
 height: 50px;
}
.rectangulo{
 width: 120px;
 height: 50px;
}